.cards{
  display: flex;
  flex-wrap: wrap;
 
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-around;
	padding: 20px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  margin: 10px;
  flex-basis: 200px;
  flex-grow: 1;
}
.card img {
  width: 150px;
  border-radius: 6px;
}
.card h3 {
  flex-grow: 1;
  padding-left: 100px;
  padding-right: 100px;
  font-size: 16px;
}